<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Image Upload Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cerulean/bootstrap.min.css"
          integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid" style="margin-top: 100px;margin-left: 700px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary; jumbotron">
                    <div class="panel-heading">
                        <h1 class="panel-title">Upload a new recipe image</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <form action="http:\\localhost" method="post" enctype="multipart/form-data"
                                      th:action="@{'/recipe/' + ${recipe.getId()} + '/image'}">
                                    <label class="control-label">Select File</label>
                                    <input id="image-file" name="image-file" type="file" class="file">
                                    <button type="submit" class="btn-info btn">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>