<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cerulean/bootstrap.min.css"
          integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid" style="margin-top: 100px;margin-left: 500px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${recipe}" th:action="@{/recipe-create/}" method="post">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>
                <!--For thymeleaf mapping purposes-->
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{image}"/>
                <div class="panel-group; jumbotron">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Recipe Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{recipe.description}">Recipe Description d:</label>
                                    <input type="text" class="form-control" th:field="*{description}" th:class="${#fields.hasErrors('description')}
                                ? 'form-control is-invalid' : 'form-control'"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li class="text-danger" th:each="err : ${#fields.errors('description')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Categories:</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Prep Time:</label>
                                    <input type="text" class="form-control" th:field="*{prepTime}" th:class="${#fields.hasErrors('prepTime')}
                                ? 'form-control is-invalid' : 'form-control'"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('prepTime')}">
                                        <ul>
                                            <li class="text-danger" th:each="err : ${#fields.errors('prepTime')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Cooktime:</label>
                                    <input type="text" class="form-control" th:field="*{cookTime}" th:class="${#fields.hasErrors('cookTime')}
                                ? 'form-control is-invalid' : 'form-control'"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('cookTime')}">
                                        <ul>
                                            <li class="text-danger" th:each="err : ${#fields.errors('cookTime')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Difficulty:</label>
                                    <select class="form-control" th:field="*{difficulty}">
                                        <option th:each="difficultyValue : ${T(com.web.recipes.domain.Difficulty).values()}"
                                                th:value="${difficultyValue.name()}"
                                                th:text="${difficultyValue.name()}"
                                        >val
                                        </option>
                                    </select>
                                    <select class="form-control" th:remove="all">
                                        <option>Easy</option>
                                        <option>Medium</option>
                                        <option>Hard</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Servings:</label>
                                    <input type="text" class="form-control" th:field="*{servings}" th:class="${#fields.hasErrors('servings')}
                                ? 'form-control is-invalid' : 'form-control'"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('servings')}">
                                        <ul>
                                            <li class="text-danger" th:each="err : ${#fields.errors('servings')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Source:</label>
                                    <input type="text" class="form-control" th:field="*{source}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>URL:</label>
                                    <input type="text" class="form-control" th:field="*{url}" th:class="${#fields.hasErrors('url')}
                                ? 'form-control is-invalid' : 'form-control'"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('url')}">
                                        <ul>
                                            <li class="text-danger" th:each="err : ${#fields.errors('url')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-11 ">
                                    <h1 class="panel-title">Ingredients</h1>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn-info btn pull-right" href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul th:if="${not #lists.isEmpty(recipe.ingredients)}">
                                        <li th:remove="all">1 Cup of milk</li>
                                        <li th:remove="all">1 Teaspoon of chocolate</li>
                                        <li th:each="ingredient : ${recipe.ingredients}"
                                            th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.uom.getDescription() +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                        </li>
                                    </ul>
                                    <div th:each="ingredientEach, idx : ${recipe.ingredients}">
                                        <input type="hidden" th:field="*{ingredients[__${idx.index}__].id}"/>
                                        <input type="hidden" th:field="*{ingredients[__${idx.index}__].description}"/>
                                        <input type="hidden" th:field="*{ingredients[__${idx.index}__].amount}"/>
                                        <input type="hidden" th:field="*{ingredients[__${idx.index}__].uom.id}"/>
                                        <input type="hidden" th:field="*{ingredients[__${idx.index}__].uom.description}"/>
                                    </div>
                                    <div th:each="catEach, idx : ${recipe.categories}">
                                        <input type="hidden" th:field="*{categories[__${idx.index}__].id}"/>
                                        <input type="hidden" th:field="*{categories[__${idx.index}__].description}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Directions</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Notes</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn-info btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>