<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>404 Not Found Error</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cerulean/bootstrap.min.css"
          integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid" style="margin-top: 100px;margin-left: 500px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 th:text="${status}">HTTP status</h1>
            <p th:text="${exception}"></p>
        </div>
    </div>
</div>

</body>
</html>